@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
  height: 100%;
  background: linear-gradient(#000000b3, #000000b3), url(bckg.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fffff0
}

.container { 
  height: 100%;
}

h1 {
  font-size: 60pt;
}

h2 {
  font-size: 25pt;
  font-weight: 500;
}

footer {
  font-size: 10pt;
  text-align: center;
}

h1, h2 {
  font-family: 'Oswald';  
  margin: 0;
}

.container {
  padding: 10px 100px;
}

p {
  font-family: 'PT Sans';
  font-size: 25pt;
}

.maintext, footer {
  font-family: 'Open Sans';
}

a, a:visited, a:active {
  text-decoration: none;
  color: lightblue;
}

a:hover {
  text-decoration: underline;
}

table {
  min-width: 50%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #52525286;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
}